body {
    margin: 0px;
}

@font-face {
    font-family: OpenSans; /* Имя шрифта */
    src: url(fonts/OpenSans.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansLight; /* Имя шрифта */
    src: url(fonts/OpenSansLight.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansBold; /* Имя шрифта */
    src: url(fonts/OpenSansBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansSemibold; /* Имя шрифта */
    src: url(fonts/OpenSansSemibold.ttf); /* Путь к файлу со шрифтом */
}

#UpperUnit {
    text-align: center;
}

#MainMenu {
    color: #ffffff;
    overflow: hidden;
    padding: 5px 0px;
}

#Logotyp {
    border: none;
    margin-right: 100px;
    margin-top: 20px;
    position: absolute;
    padding: 0px;
}

#cont_cont {
    display: inline-block;
    margin-left: 380px;
    border: none;
    padding-top: 25px;
}

#AllFields {
}

#holid {
    margin-left: 100px;
    padding-right: 80px;
    box-sizing: border-box;
}

#Atur {
    display: block;
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.page-width {
    width: 1350px;
    margin: auto;
}

.ColorMainMenu {
    width: 100%;
    background: #4F4F4F;
    text-align: center;
}

.menu_head {
    padding-left: 0px;
    overflow: hidden;
    margin: 0px;
}



.menu_head li {
    margin-left: 30px; /* Отступ слева */
    padding-left: 10px;
    float: left;
    font-size: 13px;
    font-weight: 100;
    font-family: OpenSansLight;
}

.menu_head :first-child {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.menu_head li a {
    color: #ffffff;
    text-decoration: none;
}

.search-input {
    height: 20px;
    border-radius: 3px;
    float: right;
    border: none;
    padding-left: 10px;
    background-image: url('Images/Search.png');
    background-repeat: no-repeat;
    background-position: 95%;
}

.contacts div {
}

.contacts {
    text-align: center;
}

.div_cont {
    display: inline-block;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #D3D9DD;
    margin-top: 0px;
    height: 55px;
    padding-top: 25px;
}

.contacts div b {
    display: inline-block;
    font-family: OpenSans;
}

.contacts a {
    text-decoration: none;
    color: #0D469A;
}

.Index_nomera_Phone {
    font-size: 20px;
    font-weight: 100;
}

.Phone {
    font-size: 25px;
    font-weight: bold;
}

.Contcs {
    color: black;
    font-size: 13px;
    margin-left: 50px;
    margin-top: 8px;
}

.imgCont {
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
}

.menu_tour {
    border: 4px solid #40c4c8;
    -moz-border-image: url('Images/BorderIm2.png') 4 0 4 0 repeat;
    -o-border-image: url('Images/BorderIm2.png') 4 0 4 0 repeat;
    -webkit-border-image: url('Images/BorderIm2.png') 4 0 4 0 repeat;
    border-image: url('Images/BorderIm2.png') 4 0 4 0 repeat;
    border-left: none;
    border-right: none;
    background-color: #F1F3F5;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: OpenSansBold;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.menu_tour a {
    margin-left: 60px;
    color: black;
    text-decoration: none;
}

.menu_tour a span.icon {
    display:inline-block;
    height:20px;
    width:10px;
    background-image: url('Images/Menu-arrows.png');
    background-position: left -15px;
    background-repeat:no-repeat;
}

.menu_tour a:hover{
    color: #0D469A;
}

.menu_tour a:hover span.icon {
    background-position: left 5px;
}

.menu_tour a:focus{
    color: #ff0000;
}

.menu_tour a:focus span.icon {
    background-position: right -15px;
}

.breadth_content a:first-child {
    margin-left: 0px;
}

.cont_cont a :first-child {
    margin-left: 100px;
}

.breadth_content {
    width: 1350px;
    display: inline-block;
}

.map {
    background-image: url('Images/mep.png');
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 1px solid #D9DCE1;
    overflow:hidden;
}

.window_shade {
    background-color: #fff;
    color: transparent;
    width: 1350px;
    box-shadow: 1px 1px 10px #E7E7E7, -1px -1px 10px #E7E7E7;
    padding-bottom: 30px;
    display: none;
    overflow:hidden;
}

.div_body {
    text-align: center;
}

.div_body h1 {
    font-family: OpenSans;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 0px;
    display: block;
    margin-top: 20px;
}

.holidays {
    float: left;
    font-family: OpenSansSemibold;
    width: 400px;
    height: 400px;
    text-align: left;
}

.holidays a {
    display: block;
    color: black;
    font-size: 16px;
    line-height: 42px;
}

.holidays a img {
    margin-right: 20px;
}

.holidays a span {
    vertical-align: top;
}

.holidays h2 {
    font-family: OpenSansBold;
}

.MainСountries {
    margin-left: 90px;
}

a.more {
    color: #265DA7;
    font-size: 14px;
    background-image: url("Images/arrow-circle-right.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-left: 25px;
}

.rest {
    padding-top: 80px;
    padding-bottom: 30px;
    border: 3px solid #40c4c8;
    -moz-border-image: url('Images/CircleBorder.png') 4 0 4 0 repeat;
    -o-border-image: url('Images/CircleBorder.png') 4 0 4 0 repeat;
    -webkit-border-image: url('Images/CircleBorder.png') 4 0 4 0 repeat;
    border-image: url('Images/CircleBorder.png') 0 279 0 279 repeat;
    text-align: center;
    width: 350px;
    height: 200px;
}

.rest a {
    float: none;
    margin-left: 0px;
    font-size: 22px;
    margin-bottom: 20px;
}



.laftArrow {
    float: left;
    margin-top: 50px;
}

.RightArrow {
    float: right;
    margin-top: 50px;
}

.foto1 {
    float: left;
    margin-left: 100px;
}

.news {
    font-family: OpenSans;
    font-weight: bold;
    font-size: 14px;
    overflow:hidden;
}

.textnews p {
    text-align: left;
    margin-left: 400px;
    margin-top: 50px;
}

.OpenQuotes {
    float: left;
    margin-left: 50px;
}

.CloseQuotes {
    float: left;
    margin-top: -30px;
    margin-left: 300px;
}

.OurAdvantages {
    border: 4px solid #40c4c8;
    -moz-border-image: url('Images/BorderIm3.png') 4 0 4 0 repeat;
    -o-border-image: url('Images/BorderIm3.png') 4 0 4 0 repeat;
    -webkit-border-image: url('Images/BorderIm3.png') 4 0 4 0 repeat;
    border-image: url('Images/BorderIm3.png') 4 0 4 0 repeat;
    border-left: none;
    border-right: none;
    background-color: #F1F3F5;
    font-family: OpenSansSemibold;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
    position: relative;
    overflow:hidden;
}

.breadth_content h2 {
}

.Window_news {
    width: 340px;
    background-color: #ffffff;
    height: 345px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    font-weight: 100;
    padding: 30px;
}

.list_advantages {
    text-align: left;
    list-style-type: none; /* Убираем исходные маркеры*/
    counter-reset: item; /* Обнуляем счетчик списка */
    float: left;
    margin-top: 0px;
    padding-left: 0px;
}

.list_advantages li:before {
    content: counter(item); /* Добавляем к числам скобку*/
    counter-increment: item; /* Задаём имя счетчика */
}

.list_advantages li {
    margin-top: 20px;
    color: #0E459A;
    font-size: 20px;
}

.list_advantages li p {
    margin-left: 20px;
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-weight: 100;
}

.list_advantages :first-child {
    margin-top: 0px;
}

.HeadAdvantages {
    margin-top: 50px;
}

.Window_news h2 {
    background-image: url("images/Redhead_line.png");
    background-position: left center;
    background-repeat: repeat-x;
    text-align: center;
}

.Window_news h2 span {
    padding: 0px 10px;
    background-color: #ffffff;
}

.wave_left {
    float: left;
}

.wave_right {
    float: right;
}

.Our_dvantages {
    float: left;
}

.Window_news div a {
    color: black;
}

.Window_news a.more {
    margin-top: 20px;
    display: inline-block;
    margin-left: 0px;
}

.Window_news p {
    color: #7F909A;
    font-size: 12px;
}

.all_news_link {
    display: block;
    margin-top: 20px;
    color: #11479D;
}

.all_news_link img {
    margin-bottom: -10px;
    margin-left: 0px;
}

/*.Window_news :last-child {
    color: #11479D;
}*/

.Photo_report {
    margin: auto;
    border-bottom: 1px solid #D9DCE1;
    overflow: hidden;
    position: relative;
}

.Photo_report .arrow,.banners .arrow {
    width: 90px;
    position: absolute;
    top: calc(50% - 30px);

}

.Photo_report .arrow a,.banners .arrow a {
    display: block;
}

.Photo_report .arrow.right,.banners .arrow.right {
    right: 0;
}

.Photo_report .images {
    margin: auto;
    width: 1000px;
    overflow: hidden;
    padding-bottom: 50px;
}

.to-laft-tp {
    margin-left: 10px;
}

.images .col {
    width: 400px;
    overflow: hidden;
}

.images .col > div {
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.images .col > div.big {
    width: 400px;
    height: 300px;
}

/*.images .col div + div{
    margin-top: 10px;
}*/

.images .col.center {
    width: 200px;
    margin: auto;
}


.images .col.right {
    float: right;
}

.images .col.left {
    float: left;
}

.images img {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    border-radius: 2px;
}

.images div.big {
    width: 400px;
    height: 300px;
}

/*.images .col img + img{
    margin-left: 10px;
}*/

.bloc-photo div {
    float: left;
    width: 194px;
    height: 145px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.bloc-photo > div.big {
    width: 399px;
    height: 300px;
}

.bloc-photo {
    float: left;
    width: 398px;
}

.foto {
    display: flex;
    width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #D9DCE1;
}

.foto div img {
    margin-top: 5px;
    margin-left: 5px;
}

.three_photos {
    width: 410px;
}

.six_photos {
    width: 200px;
}

.six_photos img {
}

.ArrowFotoL {
    margin-top: 220px;
    margin-right: 50px;
}

.ArrowFotoR {
    margin-top: 220px;
    margin-left: 50px;
}

.Children_rest {
    display: inline-block;
    font-family: OpenSans;
    margin-top: 50px;
}

.Children_rest_cont {
    position: absolute;
    margin-left: 88px;
    margin-top: 40px;
}

.crimeaRest {
    width: 360px;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 10px;
}

.Children_rest a {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 14px;
}

.futer {
    border: 4px solid #40c4c8;
    -moz-border-image: url('Images/BorderIm4.png') 4 0 4 0 repeat;
    -o-border-image: url('Images/BorderIm4.png') 4 0 4 0 repeat;
    -webkit-border-image: url('Images/BorderIm4.png') 4 0 4 0 repeat;
    border-image: url('Images/BorderIm4.png') 4 0 4 0 repeat;
    border-left: none;
    border-right: none;
    background-color: #F1F3F5;
    margin-top: 150px;
    font-family: OpenSansSemibold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.cuntry {
    width: 80px;
    display: inline-block;
    text-align: left;
    margin-right: 110px;
}

.cuntry a {
    display: block;
    margin-top: 10px;
    color: black;
}


.Llers {
    width: 150px;
    display: inline-block;
    text-align: left;
}

.inputFuter {
    height: 20px;
    width: 260px;
    color: #74858F;
    border-radius: 1px;
    border: 1px solid #D6D9DE;
    border-radius: 2px;
    padding: 5px 10px;
}

.Llers a {
    display: block;
    margin-top: 10px;
    color: black;
}

.Llers {
    display: inline-block;
    margin-top: 10px;
    color: black;
    margin-top: -235px;
    position: absolute;
}

.Count {
    width: 290px;
    padding-left: 40px;
    border-right: 1px solid #D9DCE1;
    box-sizing: border-box;
    text-align: left;
    margin-top: 30px;
    float: left;
}

.Count a {
    font-weight: bold;
    font-family: OpenSans;
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
    display: block;
}

.Count a img {
    margin-right: 10px;
}


.Recreation {
    float: left;
    padding-top: 30px;
    padding-left: 80px;
}

.lincRecreation {
    float: left;
    width: 120px;
    text-align: left;
    margin-right: 50px;
}

.lincRecreation a {
    color: black;
    font-family: OpenSansSemibold;
    font-size: 14px;
    text-decoration: none;
    border-bottom: solid black 1px;
}

.modalboxask {
    text-decoration: none;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: #FD7B22;
    border-top-width: 0px;
    border-right-width: 1px;
    border-right-color: #FD7B22;
    border-left-width: 0px;
    margin: 4px;
    margin-left: 0px;
    padding: 8px 15px;
    display: inline;
    background-color: #FD7B22;
    color: #ffffff;
    font-size: 9pt;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    z-index: 1000;
    position: relative;
}

.PhoneP {
    width: 400px;
}

.PhoneP p {
    display: inline;
    font-weight: 100;
    font-size: 12px;
    color: #74858F;
    margin-left: 20px;
}



.PName {
    font-family: OpenSansBold;
}

.Lle {
    display: inline-block;
    margin-right: 210px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
}

.Countries {
    width: 200px;
    text-align: left;
}

.Countries a {
    color: black;
    padding-bottom: 10px;
    display: block;
}

.Countries :last-child {
    color: #11479D;
}

.Bestsellers {
    width: 200px;
    text-align: left;
}

.Bestsellers a {
    color: black;
    padding-bottom: 10px;
    display: block;
}

.SocialNetwork {
    width: 300px;
    text-align: left;
}

.SocialNetwork img {
    width: 22px;
    height: 22px;
}

.communication {
    width: 400px;
    text-align: left;
    padding-left: 100px;
}

.communication > div {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.futerbloc_width {
    width: 400px;
}

.communication a {
    font-weight: 100;
    font-size: 15px;
    color: #014CA7;
    margin-left: 50px;
}

.endblok {
    text-align: center;
    padding: 10px 0px;
}

.endblok span {
    font-family: OpenSans;
    color: #6A7C89;
    font-size: 12px;
}

.communication .daysWeek {
    display: inline;
    font-size: 12px;
    color: #6F828E;
}

.communication .connect-with-us {
    margin-top: 0px;
}

.imgbloc {
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 10px;
}

.phone {
    background-image: url('Images/BlackPhone.png');
}

.email {
    background-image: url('Images/Mail.png');
}

.address {
    background-image: url('Images/Adrop.png');
}

.big-img {
    width: 398px;
    height: 300px;
    float: left;
}

.to-laft {
    float: left;
}

.to-right {
    float: right;
}

.resting-place {
    color: #ffffff;
    font-family: OpenSans;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.banners {
    position: relative;
    border: 1px solid #D9DCE1;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.banners span {
    font-family: OpenSansSemibold;
    margin-top: 30px;
    display: block;
}

b {
    font-family: OpenSansBold;
}

.banners input {
}

.banners .bann-rest{
    margin:auto;
    overflow:hidden;
    width: 1100px;
}


.banners .three-ban{
    float:left;
    width: 33.33%;
    box-sizing:border-box;
    padding: 10px;
}

.banner1 {
    background-image: url('Images/banner1.png');
    background-repeat: no-repeat;
}

.banner2 {
    background-image: url('Images/banner2.png');
    background-repeat: no-repeat;
}

.banner3 {
    background-image: url('Images/banner3.png');
    background-repeat: no-repeat;
}

.lable{
    margin-top: -65px;
    font-family: OpenSansSemibold;
}